@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.navbar{
  background: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-item{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link.active{
  color: #149d80 !important;
  font-weight: 700;
  text-decoration: underline;
}

.navbar .nav-link:hover{
  color:#36de3c  !important;
}

body {
  background: #ffff;
}

footer {
  border-top: 4px solid #0d6efd;
}

footer a:hover {
  opacity: 0.8;
  text-decoration: underline !important;
}

footer .bi {
  font-size: 1.2rem;
}

footer hr {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

footer .list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.servicos{
  margin-top: 200px;
  margin-bottom: 100px;
}